<div
	class="rounded-sm overflow-hidden bg-deep p-1 h-[484px] min-[330px]:h-[724px] sm:h-[584px] md:h-[484px] lg:h-96 flex flex-col ring-1 ring-gray-800 transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-2xl hover:shadow-egg/20 group"
>
	<div class="h-4/5 relative overflow-hidden rounded-sm">
		<img
			src="{{ movie_img('') }}"
			alt="Movie Title"
			class="h-full w-full object-cover object-center group-hover:scale-105 transition-all duration-200 ease-in-out"
		/>
		<span class="absolute top-6 right-4 flex gap-1 items-center"
			><span class="font-bold text-white">4</span
			><span class="flex p-2 bg-dark rounded-full"
				><i class="ph-fill ph-star text-egg"></i></span
		></span>
	</div>
	<div class="flex flex-col justify-center items-center flex-1 gap-2">
		<h3 class="text-lg sm:text-xl line-clamp-1 normal-case font-medium">
			Movie Title
		</h3>
		<a
			href="#"
			class="primary-btn"
			>Ler agora</a
		>
	</div>
</div>
