<div class="my-4 p-2 bg-deep w-fit rounded-sm mx-auto">
	<ul class="flex justify-center items-center gap-2">
		<li>
			<button
				type="button"
				class="rounded-sm px-2 py-1 bg-dark"
			>
				1
			</button>
		</li>
		<li>
			<button
				type="button"
				class="rounded-sm px-2 py-1 bg-dark"
			>
				2
			</button>
		</li>
		<li>
			<button
				type="button"
				class="rounded-sm px-2 py-1 bg-dark"
			>
				...
			</button>
		</li>
		<li>
			<button
				type="button"
				class="rounded-sm px-2 py-1 bg-dark"
			>
				9
			</button>
		</li>
	</ul>
</div>
