<tr class="flex items-center justify-between bg-dark rounded-sm p-2">
	<th
		class="flex-1 font-headline uppercase text-sm font-bold text-egg sm:inline-block hidden"
	>
		#
	</th>
	<th class="flex-1 font-headline uppercase text-sm font-bold text-egg">
		Título
	</th>
	<th
		class="flex-1 font-headline uppercase text-sm font-bold text-egg min-[364px]:inline-block hidden"
	>
		Data de criação
	</th>
	<th
		class="flex-1 font-headline uppercase text-sm font-bold text-egg md:inline-block hidden"
	>
		Duração
	</th>
	<th
		class="flex-1 font-headline uppercase text-sm font-bold text-egg sm:inline-block hidden"
	>
		Categoria
	</th>
	<th class="flex-1 font-headline uppercase text-sm font-bold text-egg"></th>
</tr>
