<tr class="flex items-center justify-between bg-black p-2 rounded-sm">
	<td class="flex-1 sm:inline-block hidden">1</td>
	<td class="flex-1">Super Nova</td>
	<td class="flex-1 min-[364px]:inline-block hidden">17/11/2026</td>
	<td class="flex-1 md:inline-block hidden">120min</td>
	<td class="flex-1 sm:inline-block hidden">Action</td>
	<td class="flex-1 flex gap-2 justify-center items-center">
		<button
			type="button"
			class="group"
		>
			<i
				class="ph ph-projector-screen-chart text-yellow-500 group-hover:scale-105 transition-all duration-200 ease-in-out"
			></i>
		</button>
		<button
			type="button"
			class="group"
		>
			<i
				class="ph ph-file-lock text-blue-500 group-hover:scale-105 transition-all duration-200 ease-in-out"
			></i>
		</button>
		<button
			type="button"
			class="group"
		>
			<i
				class="ph ph-trash text-red-500 group-hover:scale-105 transition-all duration-200 ease-in-out"
			></i>
		</button>
	</td>
</tr>
