<tr
	x-data="dashboardRow"
	data-dashboard-row
	class="flex items-center justify-between bg-black p-2 rounded-sm"
>
	<td class="flex-1 sm:inline-block hidden">{{ loop.index }}</td>
	<td class="flex-1">{{ movie.title }}</td>
	<td class="flex-1 min-[364px]:inline-block hidden">
		{{ movie.createdAt|date('d/m/Y') }}
	</td>
	<td class="flex-1 md:inline-block hidden">{{ movie.duration }} min</td>
	<td class="flex-1 sm:inline-block hidden">
		{% for category in categories %}
		<!-- -->
		{% if category.id.equals(movie.categoryId) %}
		<!-- -->
		{{ category.name|value }}
		<!-- -->
		{% endif %}
		<!-- -->
		{% endfor %}
	</td>
	<td class="flex-1 flex gap-2 justify-center items-center">
		<a
			href="/filme/{{ movie.id }}"
			class="group"
		>
			<i
				class="ph ph-projector-screen-chart text-yellow-500 group-hover:scale-105 transition-all duration-200 ease-in-out"
			></i>
		</a>
		<a
			href="/editar/filme/{{ movie.id }}"
			class="group"
		>
			<i
				class="ph ph-file-lock text-blue-500 group-hover:scale-105 transition-all duration-200 ease-in-out"
			></i>
		</a>
		<button
			type="button"
			class="group"
			@click="remove({{ movie.id }}, $root)"
		>
			<i
				class="ph ph-trash text-red-500 group-hover:scale-105 transition-all duration-200 ease-in-out"
			></i>
		</button>
	</td>
</tr>
