<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="ie=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>{{ site_title }}</title>

		<link
			rel="shortcut icon"
			href="{{ baseUrl() }}/favicon.ico"
			type="image/x-icon"
		/>

		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="{{ baseUrl() }}/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="{{ baseUrl() }}/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="{{ baseUrl() }}/favicon-16x16.png"
		/>
		<link
			rel="manifest"
			href="{{ baseUrl() }}/site.webmanifest"
		/>

		{{ vite_assets('css')|raw }}
		<!-- -->
		{{ vite_assets('js')|raw }}
	</head>
	<body class="relative z-0">
		{% include 'partials/navbar.html' %}
		<main class="content">
			{% include "partials/session-message.html" with { key: 'session_message'
			}%}
			<!---->
			{% block container %}
			<!---->
			{% endblock container %}
		</main>
		{% include 'partials/footer.html' %}

		<!---->
		{% include "partials/loading.html" %}
		<!---->
		{% include "partials/toast.html" %}
	</body>
</html>
