{% extends 'layout/base.html' %}{% block container %}

<section class="section pb-42 md:pb-16">
	<div class="wrapper">
		<div class="mb-6 bg-deep p-4 rounded-sm text-center md:text-left">
			<h1
				class="normal-case font-normal mb-4 border-l-4 border-solid border-egg w-fit pl-4 text-3xl md:text-4xl leading-8"
			>
				Veja todos os filmes postados por você:
			</h1>
			<p>
				Aqui sua crítica pode receber premiassões.
				<a
					href="#"
					class="text-egg transition-colors duration-300 ease-in-out hover:text-poppy font-medium"
					>Saiba como</a
				>.
			</p>
		</div>

		<div>
     {% if movies is empty %}
			<p class="text-sm bg-black font-medium rounded-sm px-2 py-1">Você ainda não publicou nenhum filme. <a href="/postar/filme" class="text-egg transition-colors duration-200 ease-in-out hover:text-poppy">Criar agora</a>.</p>

		 {% else %}
			
		  <table
			data-dashboard
			class="flex flex-col gap-2 text-center bg-deep p-2 rounded-sm">
        <thead>
          {% include "partials/table/dashboard-head.html" %}
				</thead>
				<tbody class="flex flex-col gap-1">
					{% for movie in movies %}
          {% include "partials/table/dashboard-row.html" with { categories: categories, movie: movie } %}
					{% endfor %}
        </tbody>
			</table>
      {% include "partials/pagination.html" %}
		 {% endif %}
		 
    </div>
		</div>
	</div>
</section>

{% endblock %}
