{% extends 'layout/base.html' %}{% block container %}

<section class="section pb-42 md:pb-16">
	<div class="wrapper">
		<div>
			<div
				class="bg-dark rounded-sm p-4 shadow-xl shadow-white/5 ring-1 ring-gray-700 h-fit"
			>
				<div class="mb-6 text-center">
					<h1 class="mb-2">Editar Perfil</h1>
				</div>

				<form
					action="/perfil/edit"
					method="post"
					enctype="multipart/form-data"
					class="grid grid-cols-1 md:grid-cols-2 gap-2"
				>
					{{ csrf_token_input()|raw }}

					<div
						x-data="imagePreview"
						class="flex flex-col gap-4 col-span-2 md:col-span-1"
					>
						<div class="p-4 bg-deep rounded-sm">
							<img
								:src="previewUrl || '{{ user_image(user.image) }}'"
								alt="User name"
								class="rounded-sm h-96 w-full object-cover object-center ring-3 ring-poppy cursor-pointer"
								id="input-preview"
							/>
						</div>

						<div>
							<div class="form-field">
								<input
									type="file"
									name="image"
									id="image"
									class="form-field-input text-sm pt-6"
									placeholder=""
									@change="updatePreview($event)"
								/>
								<label
									for="image"
									class="form-field-label"
									>Imagem do perfil:</label
								>
							</div>
							{% include "partials/form-input-error.html" with { name: 'image' }
							%}
						</div>
					</div>

					<div class="flex gap-2 flex-wrap col-span-2 md:col-span-1">
						<div class="flex-1 sm:flex-[calc(50%---spacing(2))]">
							<div class="form-field">
								{% set input_value = persistent_input('firstName') %}
								<input
									type="text"
									name="firstName"
									id="firstName"
									class="form-field-input"
									placeholder=""
									value="{{ input_value is null ? user.firstName : input_value }}"
								/>
								<label
									for="firstName"
									class="form-field-label"
									>Nome:</label
								>
							</div>
							{% include "partials/form-input-error.html" with { name:
							'firstName' } %}
						</div>

						<div class="flex-1 sm:flex-[calc(50%---spacing(2))]">
							<div class="form-field">
								{% set input_value = persistent_input('lastName') %}
								<input
									type="text"
									name="lastName"
									id="lastName"
									class="form-field-input"
									placeholder=""
									value="{{ input_value is null ? user.lastName : input_value }}"
								/>
								<label
									for="lastName"
									class="form-field-label"
									>Sobrenome:</label
								>
							</div>
							{% include "partials/form-input-error.html" with { name:
							'lastName' } %}
						</div>

						<div class="w-full">
							<div class="form-field">
								<input
									type="email"
									name="email"
									id="email"
									class="form-field-input italic text-gray-600"
									placeholder=""
									disabled
								/>
								<label
									for="email"
									class="form-field-label"
									>E-mail:</label
								>
							</div>
						</div>

						<div class="flex-1 sm:flex-[calc(50%---spacing(2))]">
							<div class="form-field">
								{% set input_value = persistent_input('password') %}
								<input
									type="password"
									name="password"
									id="password"
									class="form-field-input"
									value="{{ input_value is null ? '' : input_value }}"
									placeholder=""
								/>
								<label
									for="password"
									class="form-field-label"
									>Senha:</label
								>
							</div>
							{% include "partials/form-input-error.html" with { name:
							'password' } %}
						</div>

						<div class="flex-1 sm:flex-[calc(50%---spacing(2))]">
							<div class="form-field">
								{% set input_value = persistent_input('passwordConfirmation') %}
								<input
									type="password"
									name="passwordConfirmation"
									id="passwordConfirmation"
									class="form-field-input"
									placeholder=""
									value="{{ input_value is null ? '' : input_value }}"
								/>
								<label
									for="passwordConfirmation"
									class="form-field-label"
									>Confirmar senha:</label
								>
							</div>
							{% include "partials/form-input-error.html" with { name:
							'passwordConfirmation' } %}
						</div>

						<div class="w-full">
							<div class="form-field h-64">
								{% set input_value = persistent_input('bio') %}
								<textarea
									name="bio"
									id="bio"
									class="form-field-textarea h-full"
									placeholder=""
								>
{{ input_value is null ? user.bio : input_value }}</textarea
								>
								<label
									for="passwordConfirmation"
									class="form-field-label"
									>Sobre você:</label
								>
							</div>
							{% include "partials/form-input-error.html" with { name: 'bio' }
							%}
						</div>
					</div>

					<div class="text-right my-2 col-span-2">
						<button
							type="submit"
							class="secondary-btn py-2 px-6"
						>
							Aualizar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}
