{% extends 'layout/base.html' %}{% block container %}

<section class="section pb-42 md:pb-16">
	<div class="wrapper">
		<div>
			<div
				class="bg-dark rounded-sm px-4 py-6 md:p-6 shadow-xl shadow-white/5 ring-1 ring-gray-300 h-fit"
			>
				<div class="mb-6 text-center">
					<h1 class="mb-2">Editar Perfil</h1>
				</div>

				<form
					action="/register"
					method="post"
					class="grid grid-cols-1 md:grid-cols-2 gap-2"
				>
					{{ csrf_token_input()|raw }}

					<div class="flex flex-col gap-4 col-span-2 md:col-span-1">
						<div class="p-4 bg-deep rounded-sm">
							<img
								src="{{ user_image('') }}"
								alt="User name"
								class="rounded-sm h-96 w-full object-cover object-center ring-3 ring-poppy cursor-pointer"
							/>
						</div>

						<div>
							<div class="form-field">
								<input
									type="file"
									name="image"
									id="image"
									class="form-field-input text-sm pt-6"
									placeholder=""
									required
								/>
								<label
									for="image"
									class="form-field-label"
									>Imagem do perfil:</label
								>
							</div>
							<p class="text-red-500 text-xs text-center leading-2 invisible">
								Message error
							</p>
						</div>
					</div>

					<div class="flex gap-2 flex-wrap col-span-2 md:col-span-1">
						<div class="flex-1 sm:flex-[calc(50%---spacing(2))]">
							<div class="form-field">
								<input
									type="text"
									name="firstName"
									id="firstName"
									class="form-field-input"
									placeholder=""
									required
								/>
								<label
									for="firstName"
									class="form-field-label"
									>Nome:</label
								>
							</div>
							<p class="text-red-500 text-xs text-center leading-2 invisible">
								Message error
							</p>
						</div>

						<div class="flex-1 sm:flex-[calc(50%---spacing(2))]">
							<div class="form-field">
								<input
									type="text"
									name="lastName"
									id="lastName"
									class="form-field-input"
									placeholder=""
									required
								/>
								<label
									for="lastName"
									class="form-field-label"
									>Sobrenome:</label
								>
							</div>
							<p class="text-red-500 text-xs text-center leading-2 invisible">
								Message error
							</p>
						</div>

						<div class="w-full">
							<div class="form-field">
								<input
									type="email"
									name="email"
									id="email"
									class="form-field-input"
									placeholder=""
									required
								/>
								<label
									for="email"
									class="form-field-label"
									>E-mail:</label
								>
							</div>
							<p class="text-red-500 text-xs text-center leading-2 invisible">
								Message error
							</p>
						</div>

						<div class="flex-1 sm:flex-[calc(50%---spacing(2))]">
							<div class="form-field">
								<input
									type="password"
									name="password"
									id="password"
									class="form-field-input"
									placeholder=""
									required
								/>
								<label
									for="password"
									class="form-field-label"
									>Senha:</label
								>
							</div>
							<p class="text-red-500 text-xs text-center leading-2 invisible">
								Message error
							</p>
						</div>

						<div class="flex-1 sm:flex-[calc(50%---spacing(2))]">
							<div class="form-field">
								<input
									type="password"
									name="passwordConfirmation"
									id="passwordConfirmation"
									class="form-field-input"
									placeholder=""
									required
								/>
								<label
									for="passwordConfirmation"
									class="form-field-label"
									>Confirmar senha:</label
								>
							</div>
							<p class="text-red-500 text-xs text-center leading-2 invisible">
								Message error
							</p>
						</div>

						<div class="w-full">
							<div class="form-field h-64">
								<textarea
									name="bio"
									id="bio"
									class="form-field-textarea h-full"
									placeholder=""
								></textarea>
								<label
									for="passwordConfirmation"
									class="form-field-label"
									>Sobre você:</label
								>
							</div>
							<p class="text-red-500 text-xs text-center leading-2 invisible">
								Message error
							</p>
						</div>
					</div>

					<div class="text-right my-2 col-span-2">
						<button
							type="submit"
							class="secondary-btn py-2 px-6"
						>
							Aualizar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}
