{% extends 'layout/base.html' %}{% block container %}

<section class="section pb-52 sm:pb-42 md:pb-16">
	<div class="wrapper">
		<div class="grid md:grid-cols-2 gap-6">
			<div class="bg-black p-3 rounded-sm ring-1 ring-gray-800 h-fit">
				<div class="flex flex-col lg:flex-row items-start gap-4 mb-4">
					<img
						src="{{ user_image(user.image) }}"
						alt="User name"
						class="rounded-full h-42 w-42 sm:h-48 sm:w-48 object-cover object-center ring-3 ring-poppy cursor-pointer mx-auto lg:mx-0"
					/>
					<div class="w-full flex flex-col gap-4">
						<div
							class="p-2 bg-deep rounded-sm ring-1 ring-gray-800 shadow-xl shadow-gray-900/80"
						>
							<h6
								class="text-base mb-2 bg-dark px-2 font-normal py-1 rounded-sm"
							>
								Nome:
							</h6>
							<strong
								class="font-normal leading-7 italic rounded-sm bg-dark/45 px-2 py-1 block line-clamp-1"
							>
								{{ user.firstName }}
							</strong>
						</div>
						<div
							class="p-2 bg-deep rounded-sm ring-1 ring-gray-800 shadow-xl shadow-gray-900/80"
						>
							<h6
								class="text-base mb-2 bg-dark px-2 font-normal py-1 rounded-sm"
							>
								Sobrenome:
							</h6>
							<strong
								class="font-normal leading-7 italic rounded-sm bg-dark/45 px-2 py-1 block line-clamp-1"
							>
								{{ user.lastName }}
							</strong>
						</div>
					</div>
				</div>

				<div
					class="p-2 bg-deep rounded-sm ring-1 ring-gray-800 shadow-xl shadow-gray-900/80 mb-4"
				>
					<h6 class="text-base mb-2 bg-dark px-2 font-normal py-1 rounded-sm">
						Bio:
					</h6>
					<div
						x-data="{
              hidden: true,
              toggle() {
                this.hidden = !this.hidden
              }
            }"
						class="rounded-sm bg-dark/45 px-2 py-1"
					>
						{% if user.bio is null %}
						<p class="opacity-45 text-sm">
							Não possui bio.
							<a
								href="/perfil/edit"
								class="font-medium text-egg transition-colors duration-200 ease-in-out hover:text-poppy"
								>Preencher agora</a
							>.
						</p>
						{% else %}
						<p
							class="font-normal leading-7 italic"
							x-bind:class="hidden ? 'line-clamp-3' : 'line-clamp-none'"
						>
							{{ user.bio }}
						</p>
						<button
							type="button"
							class="underline text-egg font-light transition-colors duration-200 ease-in-out hover:text-poppy"
							@click="toggle()"
							x-text="hidden ? 'mais' : 'menos'"
						></button>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="mt-8 sm:mt-0 bg-black p-3 rounded-sm h-fit">
				<h3 class="bg-dark px-2 py-1 text-lg font-semibold rounded-sm mb-2">
					Suas estatísticas
				</h3>

				<ul class="flex flex-col gap-4">
					<li
						class="flex justify-between items-center bg-deep rounded-sm py-1 px-2 text-sm"
					>
						<span
							class="bg-egg px-1 py-[0.5px] rounded-sm text-dark font-medium"
							>Críticas postadas:</span
						>
						<hr class="h-px flex-1 bg-gray-400 mx-2 opacity-35" />
						<span>{{ reviewPosted }}</span>
					</li>

					<li
						class="flex justify-between items-center bg-deep rounded-sm py-1 px-2 text-sm"
					>
						<span
							class="bg-egg px-1 py-[0.5px] rounded-sm text-dark font-medium"
							>Comentários feitos:</span
						>
						<hr class="h-px flex-1 bg-gray-400 mx-2 opacity-35" />
						<span>{{ commentsMade }}</span>
					</li>

					<li
						class="flex justify-between items-center bg-deep rounded-sm py-1 px-2 text-sm"
					>
						<span
							class="bg-egg px-1 py-[0.5px] rounded-sm text-dark font-medium"
							>Reviews feitas:</span
						>
						<hr class="h-px flex-1 bg-gray-400 mx-2 opacity-35" />
						<span>{{ reviewsWritten }}</span>
					</li>

					<li
						class="flex justify-between items-center bg-deep rounded-sm py-1 px-2 text-sm"
					>
						<span
							class="bg-egg px-1 py-[0.5px] rounded-sm text-dark font-medium"
							>Comentários nos seus posts:</span
						>
						<hr class="h-px flex-1 bg-gray-400 mx-2 opacity-35" />
						<span>{{ commentsOnYourPosts }}</span>
					</li>

					<li
						class="flex flex-col gap-1 justify-between items-start bg-deep rounded-sm py-1 px-2"
					>
						<h5
							class="text-base font-normal bg-dark px-2 py-1 rounded-sm w-full mb-2"
						>
							Post com maior nota
						</h5>

						{% if reviewPosted == 0 %}

						<p class="text-sm px-2 py-1">
							Você ainda não postou nada.
							<a
								href="/postar/filme"
								class="text-egg transition-colors duration-200 ease-in-out hover:text-poppy"
								>Criar agora</a
							>.
						</p>

						{% else %}

						<p
							class="flex justify-between w-full items-center flex-nowrap text-sm"
						>
							<span
								class="bg-poppy px-1 py-[0.5px] rounded-sm text-dark font-medium"
								>Título:</span
							><span
								class="h-px w-full bg-gray-400 mx-2 flex-1 opacity-35"
							></span
							><span class="max-w-1/2 line-clamp-1">Movie title</span>
						</p>
						<p
							class="flex justify-between w-full items-center flex-nowrap text-sm"
						>
							<span
								class="bg-poppy px-1 py-[0.5px] rounded-sm text-dark font-medium"
								>Nota:</span
							><span
								class="h-px w-full bg-gray-400 mx-2 flex-1 opacity-35"
							></span
							><span>0</span>
						</p>

						{% endif %}
					</li>

					<li
						class="flex flex-col gap-1 justify-between items-start bg-deep rounded-sm py-1 px-2"
					>
						<h5
							class="text-base font-normal bg-dark px-2 py-1 rounded-sm w-full mb-2"
						>
							Post com menor nota
						</h5>

						{% if reviewPosted == 0 %}

						<p class="text-sm px-2 py-1">
							Você ainda não postou nada.
							<a
								href="/postar/filme"
								class="text-egg transition-colors duration-200 ease-in-out hover:text-poppy"
								>Criar agora</a
							>.
						</p>

						{% else %}

						<p
							class="flex justify-between w-full items-center flex-nowrap text-sm"
						>
							<span
								class="bg-poppy px-1 py-[0.5px] rounded-sm text-dark font-medium"
								>Título:</span
							><span
								class="h-px w-full bg-gray-400 mx-2 flex-1 opacity-35"
							></span
							><span class="max-w-1/2 line-clamp-1">Movie title</span>
						</p>
						<p
							class="flex justify-between w-full items-center flex-nowrap text-sm"
						>
							<span
								class="bg-poppy px-1 py-[0.5px] rounded-sm text-dark font-medium"
								>Nota:</span
							><span
								class="h-px w-full bg-gray-400 mx-2 flex-1 opacity-35"
							></span
							><span>0</span>
						</p>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</section>

{% endblock %}
