{% extends 'layout/base.html' %}{% block container %}

<section class="section pb-42 md:pb-16">
	<div class="wrapper">
		<div
			class="bg-linear-to-r from-black mb-8 p-2 rounded-sm text-center md:text-left"
		>
			<h3
				class="normal-case font-semibold border-l-4 border-solid border-poppy w-fit pl-4 text-3xl leading-8 flex flex-col gap-2"
			>
				<span class="font-medium text-base">Postado por:</span>
				<a
					href="#"
					class="flex items-center gap-3 bg-linear-to-r from-deep py-1 px-2 rounded-sm transition-all duration-200 ease-in-out"
				>
					<img
						src="{{ user_image('') }}"
						alt="User Name"
						class="rounded-sm h-7 w-7 object-cover object-center ring-1 ring-poppy shadow-xl shadow-egg/20"
					/>
					<span class="font-medium capitalize text-egg font-headline text-2xl"
						>Adriano Miranda</span
					>
				</a>
			</h3>
		</div>

		<div class="grid sm:grid-cols-7 gap-6 items-stretch">
			<div
				class="flex flex-col gap-4 sm:col-span-4 md:col-span-5 col-span-full"
			>
				<div
					class="bg-deep p-2 rounded-sm text-center md:text-left ring-1 ring-gray-800 shadow-xl shadow-gray-900/80"
				>
					<h1
						class="normal-case font-semibold border-l-4 border-solid border-egg w-fit pl-4 text-3xl leading-8"
					>
						Movie Title
					</h1>
				</div>

				<div
					class="p-2 bg-deep rounded-sm ring-1 ring-gray-800 shadow-xl shadow-gray-900/80"
				>
					<iframe
						class="w-full h-86"
						src="https://www.youtube.com/embed/KV9JqZPo26Y?si=EdrDqHE5K5vknnFg"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen
					></iframe>
				</div>

				<div
					x-data="{
          hidden: true,
          toggle() {
            this.hidden = !this.hidden
          }
        }"
					class="bg-deep p-2 rounded-sm text-center md:text-left ring-1 ring-gray-800 shadow-xl shadow-gray-900/80"
				>
					<p x-bind:class="hidden ? 'line-clamp-2' : 'line-clamp-none'">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa,
						eveniet? Cum delectus culpa ad exercitationem voluptate consequuntur
						incidunt, fuga provident eaque mollitia earum at, accusamus amet
						iste quo molestiae possimus!
					</p>
					<button
						type="button"
						class="underline text-egg font-light transition-colors duration-200 ease-in-out hover:text-poppy"
						@click="toggle()"
						x-text="hidden ? 'mais' : 'menos'"
					></button>
				</div>
			</div>

			<div
				class="col-span-full sm:col-span-3 md:col-span-2 flex flex-col gap-4"
			>
				<div
					class="p-2 bg-deep rounded-sm ring-1 ring-gray-800 shadow-xl shadow-gray-900/80"
				>
					<img
						src="{{ movie_img('') }}"
						alt="Movie title"
						class="max-h-[415px] rounded-sm w-full object-center object-cover"
					/>
				</div>
				<div
					class="p-2 bg-deep rounded-sm flex flex-col ring-1 ring-gray-800 shadow-xl shadow-gray-900/80"
				>
					<p class="text-sm flex justify-between bg-dark p-1 rounded-sm mb-2">
						<strong class="text-egg">Duração:</strong>
						<span class="text-white">129min</span>
					</p>
					<p class="text-sm flex justify-between bg-dark p-1 rounded-sm">
						<strong class="text-egg">Nota:</strong>
						<span>4.5 <i class="ph-fill ph-star text-poppy"></i></span>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
