{% extends 'layout/base.html' %}{% block container %}

<section class="section">
	<div class="wrapper">
		{% include "partials/session-message.html" with { key: 'session_message' }
		%}

		<div class="mb-12 bg-deep p-4 rounded-sm text-center md:text-left">
			<h1
				class="normal-case font-normal mb-4 border-l-4 border-solid border-egg w-fit pl-4 text-3xl md:text-4xl leading-8"
			>
				Veja as críticas que estão em alta:
			</h1>
			<p>
				Aqui sua crítica pode receber premiassões.
				<a
					href="#"
					class="text-egg transition-colors duration-300 ease-in-out hover:text-poppy font-medium"
					>Saiba como</a
				>.
			</p>
		</div>

		<div
			class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 sm:gap-4"
		>
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
			{% include "partials/movie-card.html" %}
			<!---->
		</div>
	</div>
</section>

{% endblock %}
